decorator==4.0.10
Flask==0.10.1
gunicorn==19.6.0
honcho==0.6.6
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
praw==3.5.0
pync==1.6.1
python-dateutil==2.5.3
requests==2.11.1
six==1.10.0
twitter==1.17.1
update-checker==0.11
virtualenv==15.0.3
Werkzeug==0.11.11
